# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/

# Python
__pycache__/
backend/__pycache__/
venv/
backend/venv/
*.pyc

# Environment and Secrets
.env
*.env.*
!.env.example

# Databases
# *.db (Removed to include nika.db in build)

# Media and Logs
*.log
